<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title i18nID="title">Hello World Page  </title>
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="description" content="This is my website with internationalization using i18n4e.">
    <link rel="icon" href="https://raw.githubusercontent.com/diaslui/i18n4e-docs/main/__ico__/i18n4e.ico">
</head>
<body>
    
    <div class="content">
        <img class="logo" src="https://raw.githubusercontent.com/diaslui/i18n4e-docs/main/public/img/i18n4e.png" alt="flag" width="100px" height="100px">
        <h1 i18nID="hello-world">Hello World!</h1>
        
        <h2 i18nID="info">This is my website with internationalization using i18n4e. </h2>
        <p i18nID="desc" >it can be read in several languages ​​such as Portuguese, Russian, Spanish and others depending on what the user speaks</p>
    </div>

    <div class="globals">
        <p i18nID="variable-for-all"></p>
        <p i18nID="variable-by-main"></p>
    </div>





<a href="/next" i18nID="next-page">click to go to the next page</a>
<script src="https://cdn.jsdelivr.net/npm/i18n4e/client-dist/i18n4e.min.js"></script>
<%-include("./partials/langs-select")-%>
</body>
</html>