<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title i18nID="title">Next page</title>
    <link rel="stylesheet" href="/styles/style.css">
    <meta name="description" content="This is my website with internationalization using i18n4e.">
    <link rel="icon" href="https://raw.githubusercontent.com/luiisp/i18n4e-docs/main/__ico__/i18n4e.ico">
</head>
<body>

    <div class="content">
        <h1 i18nID="info">This is the next page</h1>
    </div>

    <div class="globals">
        <p i18nID="variable-for-all"></p>
        <p i18nID="variable-by-main"></p>
    </div>

    
<a href="/" i18nID="return-click">click to return</a>
<script src="https://cdn.jsdelivr.net/npm/i18n4e/client-dist/i18n4e.min.js"></script>
<%-include("./partials/langs-select")-%>
</body>
</html>