<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>

    
    <div>
        <h1 i18nID="langs-present"></h1>
        <h2 id="langs"></h2>
        <select id="langSelect"></select>
    </div>

    <span i18nID="cop"></span>



    <script src="https://cdn.jsdelivr.net/npm/i18n4e/client-dist/i18n4e.min.js"></script>
    <script src="scripts\bar.js"></script>
</body>
</html>
